In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/kohli_ipl.csv')

In [7]:
df.head()

   match_no  runs
0         1     1
1         2    23
2         3    13
3         4    12
4         5     1

In [5]:
subs = pd.read_csv('data/subs.csv')

In [6]:
subs.head()

   Subscribers gained
0                  48
1                  57
2                  40
3                  43
4                  44

In [18]:
runs  = pd.read_csv('data/kohli_ipl.csv', index_col='match_no', squeeze=True) # we have to specify the custom index here, otherwise it get's read as dataframe.

C:\Users\sivak\AppData\Local\Temp\ipykernel_12252\1338412117.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  runs  = pd.read_csv('data/kohli_ipl.csv', index_col='match_no', squeeze=True)

In [19]:
subs = pd.read_csv('data/subs.csv', squeeze=True)

C:\Users\sivak\AppData\Local\Temp\ipykernel_12252\502616556.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  subs = pd.read_csv('data/subs.csv', squeeze=True)

In [20]:
type(runs)

pandas.core.series.Series

In [14]:
type(subs)

pandas.core.series.Series

In [21]:
import sys

sys.getsizeof(runs)

3456

In [22]:
sys.getsizeof(subs)

3064

In [23]:
runs.size

215

In [24]:
runs.count() # no-nan values.

215

In [27]:
# astype
runs = runs.astype('int16')

In [28]:
sys.getsizeof(runs)

2166

In [29]:
# between
runs.between(51, 55)

match_no
1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213    False
214    False
215    False
Name: runs, Length: 215, dtype: bool

In [30]:
runs[runs.between(51, 55)]

match_no
71     51
103    51
122    52
129    54
131    54
137    55
197    51
198    53
Name: runs, dtype: int16

In [31]:
# clip
subs.clip(100, 200)

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [32]:
# drop duplicates
temp = pd.Series([1, 1, 3,2, 4, 2, 5, 9])

In [33]:
temp

0    1
1    1
2    3
3    2
4    4
5    2
6    5
7    9
dtype: int64

In [34]:
temp.drop_duplicates() # removes the last duplicates

0    1
2    3
3    2
4    4
6    5
7    9
dtype: int64

In [35]:
temp.drop_duplicates(keep='last') # keeps the last values, first values will be removed.

1    1
2    3
4    4
5    2
6    5
7    9
dtype: int64

In [36]:
temp.duplicated()

0    False
1     True
2    False
3    False
4    False
5     True
6    False
7    False
dtype: bool

In [37]:
temp.duplicated().sum()

2

In [38]:
runs.duplicated().sum()

137

In [41]:
# missing values
import numpy as np
temp = pd.Series([1, 2, 3, np.nan, np.nan, 5, 6, np.nan, 9 ])
temp

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    5.0
6    6.0
7    NaN
8    9.0
dtype: float64

In [42]:
temp.size

9

In [43]:
temp.count()

6

In [44]:
temp.isnull()

0    False
1    False
2    False
3     True
4     True
5    False
6    False
7     True
8    False
dtype: bool

In [45]:
temp[temp.isnull()]

3   NaN
4   NaN
7   NaN
dtype: float64

In [48]:
# drop nulls
temp.dropna(inplace=True)

In [49]:
temp

0    1.0
1    2.0
2    3.0
5    5.0
6    6.0
8    9.0
dtype: float64

In [50]:
temp = pd.Series([1, 2, 3, np.nan, np.nan, 5, 6, np.nan, 9 ])

In [51]:
temp

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    5.0
6    6.0
7    NaN
8    9.0
dtype: float64

In [52]:
temp.fillna(9.99) # fill missing values with 9.99

0    1.00
1    2.00
2    3.00
3    9.99
4    9.99
5    5.00
6    6.00
7    9.99
8    9.00
dtype: float64

In [53]:
temp

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    5.0
6    6.0
7    NaN
8    9.0
dtype: float64

In [55]:
runs.isin((49, 99))

match_no
1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213    False
214    False
215    False
Name: runs, Length: 215, dtype: bool

In [56]:
runs[runs.isin((49, 99))]

match_no
82    99
86    49
Name: runs, dtype: int16

In [57]:
movies = pd.read_csv('data/bollywood.csv', index_col='movie', squeeze=True)

C:\Users\sivak\AppData\Local\Temp\ipykernel_12252\2661828162.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  movies = pd.read_csv('data/bollywood.csv', index_col='movie', squeeze=True)

In [58]:
type(movies)

pandas.core.series.Series

In [59]:
movies.apply(lambda x:x.upper())

movie
Uri: The Surgical Strike                   VICKY KAUSHAL
Battalion 609                                VICKY AHUJA
The Accidental Prime Minister (film)         ANUPAM KHER
Why Cheat India                            EMRAAN HASHMI
Evening Shadows                         MONA AMBEGAONKAR
                                              ...
Hum Tumhare Hain Sanam                    SHAH RUKH KHAN
Aankhen (2002 film)                     AMITABH BACHCHAN
Saathiya (film)                             VIVEK OBEROI
Company (film)                                AJAY DEVGN
Awara Paagal Deewana                        AKSHAY KUMAR
Name: lead, Length: 1500, dtype: object

# copy and view

In [60]:
runs

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int16

In [61]:
new = runs.head()
new

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int16

In [62]:
new[1] = 88

In [63]:
new

match_no
1    88
2    23
3    13
4    12
5     1
Name: runs, dtype: int16

In [64]:
runs.head()

match_no
1    88
2    23
3    13
4    12
5     1
Name: runs, dtype: int16