#### Pandas:
    Pandas is a Python library used for working with data sets. It has functions for analyzing, cleaning, exploring, and manipulating data.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/names.csv')

In [3]:
data.head()

  first_name       last_name                      email
0       John             Doe    john-doe@bogusemail.com
1       Mary  Smith-Robinson  maryjacobs@bogusemail.com
2       Dave           Smith   davesmith@bogusemail.com
3       Jane          Stuart  janestuart@bogusemail.com
4        Tom          Wright   tomwright@bogusemail.com

In [4]:
type(data)

pandas.core.frame.DataFrame

In [5]:
data.head()

  first_name       last_name                      email
0       John             Doe    john-doe@bogusemail.com
1       Mary  Smith-Robinson  maryjacobs@bogusemail.com
2       Dave           Smith   davesmith@bogusemail.com
3       Jane          Stuart  janestuart@bogusemail.com
4        Tom          Wright   tomwright@bogusemail.com

In [6]:
data.head(6)

  first_name       last_name                         email
0       John             Doe       john-doe@bogusemail.com
1       Mary  Smith-Robinson     maryjacobs@bogusemail.com
2       Dave           Smith      davesmith@bogusemail.com
3       Jane          Stuart     janestuart@bogusemail.com
4        Tom          Wright      tomwright@bogusemail.com
5      Steve        Robinson  steverobinson@bogusemail.com

In [7]:
data.tail()

   first_name  last_name                         email
39       Mary  Patterson  marypatterson@bogusemail.com
40       Jane     Stuart     janestuart@bogusemail.com
41     Travis     Arnold   travisarnold@bogusemail.com
42       John   Robinson   johnrobinson@bogusemail.com
43     Travis     Arnold   travisarnold@bogusemail.com

In [8]:
data.tail(7)

   first_name  last_name                         email
37      Corey      Wilks     coreywilks@bogusemail.com
38      Corey      Smith     coreysmith@bogusemail.com
39       Mary  Patterson  marypatterson@bogusemail.com
40       Jane     Stuart     janestuart@bogusemail.com
41     Travis     Arnold   travisarnold@bogusemail.com
42       John   Robinson   johnrobinson@bogusemail.com
43     Travis     Arnold   travisarnold@bogusemail.com

In [13]:
data.columns = ['First_Name', 'Last_Name', 'Email']

In [14]:
list(data.columns)

['First_Name', 'Last_Name', 'Email']

In [15]:
data.head(3)

  First_Name       Last_Name                      Email
0       John             Doe    john-doe@bogusemail.com
1       Mary  Smith-Robinson  maryjacobs@bogusemail.com
2       Dave           Smith   davesmith@bogusemail.com

In [16]:
type(data['Email'])

pandas.core.series.Series

In [17]:
data['Email']

0            john-doe@bogusemail.com
1          maryjacobs@bogusemail.com
2           davesmith@bogusemail.com
3          janestuart@bogusemail.com
4           tomwright@bogusemail.com
5       steverobinson@bogusemail.com
6        nicolejacobs@bogusemail.com
7          janewright@bogusemail.com
8             janedoe@bogusemail.com
9          kurtwright@bogusemail.com
10       kurtrobinson@bogusemail.com
11        janejenkins@bogusemail.com
12       neilrobinson@bogusemail.com
13       tompatterson@bogusemail.com
14         samjenkins@bogusemail.com
15        stevestuart@bogusemail.com
16    maggiepatterson@bogusemail.com
17       maggiestuart@bogusemail.com
18            janedoe@bogusemail.com
19     stevepatterson@bogusemail.com
20          davesmith@bogusemail.com
21           samwilks@bogusemail.com
22      kurtjefferson@bogusemail.com
23          samstuart@bogusemail.com
24         janestuart@bogusemail.com
25          davedavis@bogusemail.com
26       sampatterson@bogusemail.com
27       tomjefferson@bogusemail.com
28         janestuart@bogusemail.com
29    maggiejefferson@bogusemail.com
30          marywilks@bogusemail.com
31      neilpatterson@bogusemail.com
32         coreydavis@bogusemail.com
33        stevejacobs@bogusemail.com
34        janejenkins@bogusemail.com
35         johnjacobs@bogusemail.com
36          neilsmith@bogusemail.com
37         coreywilks@bogusemail.com
38         coreysmith@bogusemail.com
39      marypatterson@bogusemail.com
40         janestuart@bogusemail.com
41       travisarnold@bogusemail.com
42       johnrobinson@bogusemail.com
43       travisarnold@bogusemail.com
Name: Email, dtype: object

In [ ]:
data1 = pd.read_excel("airline1.xls" , sheet_name = "Sheet3" , header=None , names=['a', 'b' , 'c','d','e','f'])

In [ ]:
data1

In [ ]:
data1.to_csv('test1.csv' , index= False )

In [ ]:
data1.to_excel("test2.xlsx")

In [ ]:
data1.head()

In [ ]:
data1.tail()

In [ ]:
type(data1)

In [ ]:
type(data)

In [ ]:
data1.columns

In [ ]:
list(data1.columns)

In [ ]:
data1[['b', 'c']]

In [26]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

URLError: <urlopen error [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond>

In [20]:
df = pd.read_csv("data/addresses.csv")

In [21]:
df.head()

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/phones.csv")

In [23]:
import pandas as pd 
data2 = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")

In [22]:
!pip install lxml

Collecting lxml
  Obtaining dependency information for lxml from https://files.pythonhosted.org/packages/31/58/e3b3dd6bb2ab7404f1f4992e2d0e6926ed40cef8ce1b3bbefd95877499e1/lxml-4.9.3-cp311-cp311-win_amd64.whl.metadata
  Downloading lxml-4.9.3-cp311-cp311-win_amd64.whl.metadata (3.9 kB)
Downloading lxml-4.9.3-cp311-cp311-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB 330.3 kB/s eta 0:00:12
    --------------------------------------- 0.1/3.8 MB 656.4 kB/s eta 0:00:06
   - -------------------------------------- 0.1/3.8 MB 1.1 MB/s eta 0:00:04
   -- ------------------------------------- 0.3/3.8 MB 1.6 MB/s eta 0:00:03
   ---- ----------------------------------- 0.5/3.8 MB 2.0 MB/s eta 0:00:02
   ------ --------------------------------- 0.6/3.8 MB 2.4 MB/s eta 0:00:02
   --------- ------------------------------ 0.9/3.8 MB 2.7 MB/s eta 0:00:02
   ----------- ---------------------------- 1.1/3.8 MB 3.0 MB/s eta 0:00:01
   ------------- -------------------------- 1.3/3.8 MB 3.2 MB/s eta 0:00:01
   --------------- ------------------------ 1.5/3.8 MB 3.3 MB/s eta 0:00:01
   ------------------ --------------------- 1.7/3.8 MB 3.4 MB/s eta 0:00:01
   --------------------- ------------------ 2.0/3.8 MB 3.6 MB/s eta 0:00:01
   ----------------------- ---------------- 2.2/3.8 MB 3.8 MB/s eta 0:00:01
   -------------------------- ------------- 2.5/3.8 MB 3.9 MB/s eta 0:00:01
   ----------------------------- ---------- 2.8/3.8 MB 4.0 MB/s eta 0:00:01
   -------------------------------- ------- 3.1/3.8 MB 4.2 MB/s eta 0:00:01
   ---------------------------------- ----- 3.3/3.8 MB 4.2 MB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.8 MB 4.1 MB/s eta 0:00:01
   -------------------------------------- - 3.6/3.8 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------  3.8/3.8 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 3.9 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-4.9.3

In [ ]:
data2

In [ ]:
type(data2)

In [ ]:
len(data2)

In [ ]:
data2[0]

In [25]:
data2[0].to_csv("data\players.csv")