In [1]:
!pip install kaggle # installation of kaggle lib

Defaulting to user installation because normal site-packages is not writeable

ERROR: Invalid requirement: '#'

In [5]:
import kaggle

In [6]:
# downloading the datasets from kaggle datasets using kaggle lib

!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

'kaggle' is not recognized as an internal or external command,
operable program or batch file.

In [10]:
ls

 Volume in drive C is OS
 Volume Serial Number is F24A-1A6A

 Directory of C:\Users\sivak\Documents\data-analytics\05_EDA & Feature Engineering\EDA

11-02-2025  11:53    <DIR>          .
18-09-2024  11:42    <DIR>          ..
11-02-2025  11:44    <DIR>          .ipynb_checkpoints
05-05-2023  19:32           184,141 1-EDA And Feature Engineering.ipynb
05-05-2023  19:32           161,317 2- BlackFriday EDA And Feature Engineering.ipynb
11-02-2025  11:53             8,783 Country-Code.xlsx
13-10-2022  06:02         4,254,286 EDA on Student's Performance.pdf
05-05-2023  19:32         1,578,539 EDA- Part 1.ipynb
10-10-2022  14:37         3,103,326 EXPLORATORY DATA ANALYSIS OF STUDENTS SCORE.pdf
20-10-2022  07:18         3,025,658 Exploratory Data Analysis on Zomato dataset.pdf
11-02-2025  11:53         2,198,732 file1.json
11-02-2025  11:53        20,006,072 file2.json
11-02-2025  11:53        15,610,388 file3.json
11-02-2025  11:53        16,427,749 file4.json
11-02-2025  11:53           669,503 file5.json
18-09-2024  11:42    <DIR>          fitbit dataset
18-09-2024  11:42    <DIR>          Flight Prediction
05-05-2023  19:32            35,823 LICENSE
11-02-2025  11:51         1,348,640 orders.csv
05-05-2023  19:32                41 README.md
11-02-2025  11:52             3,556 retail-orders-EDA.ipynb
11-02-2025  11:53                72 Untitled.ipynb
10-10-2022  14:34         5,416,024 US_Accident_Dataset.pdf
18-09-2024  11:42    <DIR>          zomato dataset zip
11-02-2025  11:53         2,257,316 zomato.csv
05-05-2023  19:32         5,818,038 Zomatodataset.zip
              20 File(s)     82,108,004 bytes
               6 Dir(s)  116,793,139,200 bytes free

In [9]:
import zipfile

zip = zipfile.ZipFile("zomatodataset.zip")
zip.extractall()
zip.close()

In [25]:
# loading the data to dataframe.

import pandas as pd

df = pd.read_csv("orders.csv", na_values=['Not Available', 'unknown'])
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   object
 2   Ship Mode         9988 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub Category      9994 non-null   object
 11  Product Id        9994 non-null   object
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB

In [18]:
df['Ship Mode'].unique() # unique fields

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [20]:
df.State.unique()

array(['Kentucky', 'California', 'Florida', 'North Carolina',
       'Washington', 'Texas', 'Wisconsin', 'Utah', 'Nebraska',
       'Pennsylvania', 'Illinois', 'Minnesota', 'Michigan', 'Delaware',
       'Indiana', 'New York', 'Arizona', 'Virginia', 'Tennessee',
       'Alabama', 'South Carolina', 'Oregon', 'Colorado', 'Iowa', 'Ohio',
       'Missouri', 'Oklahoma', 'New Mexico', 'Louisiana', 'Connecticut',
       'New Jersey', 'Massachusetts', 'Georgia', 'Nevada', 'Rhode Island',
       'Mississippi', 'Arkansas', 'Montana', 'New Hampshire', 'Maryland',
       'District of Columbia', 'Kansas', 'Vermont', 'Maine',
       'South Dakota', 'Idaho', 'North Dakota', 'Wyoming',
       'West Virginia'], dtype=object)

In [23]:
df.rename(columns={'Order Id': 'order_id', 'Order Date': 'order_date', 'Ship Mode': 'ship_mode', 'Segment': 'segment',
                  'Country': 'country', 'City': 'city', 'State': 'state', 'Postal Code': 'postal_code', 'Region': 'region',
                  'Category': 'category', 'Sub Category': 'sub_category', 'Product Id': 'product_id', 'cost price': 'cost_price',
                  'List Price': 'list_price', 'Qunatity': 'quantity', 'Discount Percent': 'discount_percent'}, inplace=True)

In [29]:
# or
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')

In [30]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [31]:
# derive new column discount, sale price and profit

df['discount'] = df['list_price'] * df['discount_percent']*0.01

In [33]:
df[['list_price', 'discount']]

      list_price  discount
0            260       5.2
1            730      21.9
2             10       0.5
3            960      19.2
4             20       1.0
...          ...       ...
9989          30       1.2
9990          90       3.6
9991         260       5.2
9992          30       0.9
9993         240       7.2

[9994 rows x 2 columns]

In [34]:
df['sale_price'] = df['list_price'] - df['discount']

In [35]:
df['sale_price']

0       254.8
1       708.1
2         9.5
3       940.8
4        19.0
        ...
9989     28.8
9990     86.4
9991    254.8
9992     29.1
9993    232.8
Name: sale_price, Length: 9994, dtype: float64

In [37]:
df[['cost_price','list_price', 'discount', 'sale_price']]

      cost_price  list_price  discount  sale_price
0            240         260       5.2       254.8
1            600         730      21.9       708.1
2             10          10       0.5         9.5
3            780         960      19.2       940.8
4             20          20       1.0        19.0
...          ...         ...       ...         ...
9989          30          30       1.2        28.8
9990          70          90       3.6        86.4
9991         220         260       5.2       254.8
9992          30          30       0.9        29.1
9993         210         240       7.2       232.8

[9994 rows x 4 columns]

In [38]:
df['profit'] = df['sale_price'] - df['cost_price']

In [39]:
df[['cost_price','list_price', 'discount', 'sale_price', 'profit']]

      cost_price  list_price  discount  sale_price  profit
0            240         260       5.2       254.8    14.8
1            600         730      21.9       708.1   108.1
2             10          10       0.5         9.5    -0.5
3            780         960      19.2       940.8   160.8
4             20          20       1.0        19.0    -1.0
...          ...         ...       ...         ...     ...
9989          30          30       1.2        28.8    -1.2
9990          70          90       3.6        86.4    16.4
9991         220         260       5.2       254.8    34.8
9992          30          30       0.9        29.1    -0.9
9993         210         240       7.2       232.8    22.8

[9994 rows x 5 columns]

In [42]:
df.profit.sum() # total profit

205168.7

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          9994 non-null   int64
 1   order_date        9994 non-null   object
 2   ship_mode         9988 non-null   object
 3   segment           9994 non-null   object
 4   country           9994 non-null   object
 5   city              9994 non-null   object
 6   state             9994 non-null   object
 7   postal_code       9994 non-null   int64
 8   region            9994 non-null   object
 9   category          9994 non-null   object
 10  sub_category      9994 non-null   object
 11  product_id        9994 non-null   object
 12  cost_price        9994 non-null   int64
 13  list_price        9994 non-null   int64
 14  quantity          9994 non-null   int64
 15  discount_percent  9994 non-null   int64
 16  discount          9994 non-null   float64
 17  sale_price        9994 non-null   float64
 18  profit            9994 non-null   float64
dtypes: float64(3), int64(6), object(10)
memory usage: 1.4+ MB

In [44]:
# converting date datatype
df.order_date

0       2023-03-01
1       2023-08-15
2       2023-01-10
3       2022-06-18
4       2022-07-13
           ...
9989    2023-02-18
9990    2023-03-17
9991    2022-08-07
9992    2022-11-19
9993    2022-07-17
Name: order_date, Length: 9994, dtype: object

In [45]:
pd.to_datetime(df.order_date, format='%Y-%m-%d')

0      2023-03-01
1      2023-08-15
2      2023-01-10
3      2022-06-18
4      2022-07-13
          ...
9989   2023-02-18
9990   2023-03-17
9991   2022-08-07
9992   2022-11-19
9993   2022-07-17
Name: order_date, Length: 9994, dtype: datetime64[ns]

In [46]:
df.order_date = pd.to_datetime(df.order_date, format='%Y-%m-%d')

In [47]:
df.order_date

0      2023-03-01
1      2023-08-15
2      2023-01-10
3      2022-06-18
4      2022-07-13
          ...
9989   2023-02-18
9990   2023-03-17
9991   2022-08-07
9992   2022-11-19
9993   2022-07-17
Name: order_date, Length: 9994, dtype: datetime64[ns]

In [48]:
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
sale_price                 float64
profit                     float64
dtype: object

In [49]:
# drop unnecessary cols
df.drop(columns=['list_price', 'cost_price', 'discount_percent'], inplace=True)

In [50]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'sale_price', 'profit'],
      dtype='object')

In [51]:
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://postgres:postgres@localhost/postgres")
engine.connect()

ModuleNotFoundError: No module named 'psycopg2'

In [52]:
!pip install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Collecting psycopg2
  Downloading psycopg2-2.9.10-cp39-cp39-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 9.2 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10

In [53]:
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://postgres:postgres@localhost/postgres")
engine.connect()

In [54]:
df.tail()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,7.2,232.8,22.8

In [55]:
df.to_sql('orders', con=engine.connect(), index=False, if_exists='replace')

994

In [57]:
df.count()

order_id        9994
order_date      9994
ship_mode       9988
segment         9994
country         9994
city            9994
state           9994
postal_code     9994
region          9994
category        9994
sub_category    9994
product_id      9994
quantity        9994
discount        9994
sale_price      9994
profit          9994
dtype: int64

In [59]:
df.dtypes

order_id                 int64
order_date      datetime64[ns]
ship_mode               object
segment                 object
country                 object
city                    object
state                   object
postal_code              int64
region                  object
category                object
sub_category            object
product_id              object
quantity                 int64
discount               float64
sale_price             float64
profit                 float64
dtype: object